Repository GreenManSK/Shinobu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

tailwind
  .prettierrc
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  vite.config.ts
Due: prettier --write, eslint --fix

Basic storage implementations
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/data/common/LocalMapDataStorage.ts
  src/data/firebase/FireCollectionStorage.ts
  src/data/local/LocalCollectionStorage.ts
  src/data/types/ICollectionStorage.ts
  src/data/types/IDataStorage.ts
  src/data/types/IStorable.ts
Due: prettier --write, eslint --fix

encrypted storage
  package.json
  pnpm-lock.yaml
  src/data/firebase/EncryptFireCollectionStorage.ts
  src/data/firebase/FireCollectionStorage.ts
Due: prettier --write, eslint --fix

fix digit numbers
  ShinobuV4/package.json
  ShinobuV4/src/app/components/kirino/anime-form/anime-form.component.ts
Due: prettier --write, eslint --fix

add bg blur
  ShinobuV4/package.json
  ShinobuV4/src/app/components/shinobu/notes/notes.component.scss
  ShinobuV4/src/app/components/shinobu/quick-access/quick-access.component.scss
  ShinobuV4/src/app/components/shinobu/tabs/tabs.component.scss
  ShinobuV4/src/styles/variables.scss
Due: prettier --write

update proxy to have basepath
  cors-skip-server/index.js
  data-fun.js
Due: prettier --write, eslint --fix

fix better
  cors-skip-server/index.js
Due: prettier --write, eslint --fix

fix off by 1 error
  cors-skip-server/index.js
Due: prettier --write, eslint --fix

disable pip
  ShinobuV4/src/app/components/shinobu/shinobu-main/shinobu-main.component.html
Due: none

update cors list
  cors-skip-server/index.js
Due: prettier --write, eslint --fix

add default date to manga airdate when missing
  ShinobuV4/src/app/services/parsers/kirino/manga-parser.service.ts
Due: prettier --write, eslint --fix

fix stop sorting button
  ShinobuV4/src/app/components/shinobu/quick-access/quick-access.component.scss
Due: none

add work mode
  ShinobuV4/src/app/components/settings/shinobu-preference/shinobu-preference.component.html
  ShinobuV4/src/app/components/settings/shinobu-preference/shinobu-preference.component.scss
  ShinobuV4/src/app/components/settings/shinobu-preference/shinobu-preference.component.ts
  ShinobuV4/src/app/components/shinobu/shinobu-main/shinobu-main.component.scss
  ShinobuV4/src/app/components/shinobu/shinobu-main/shinobu-main.component.ts
  ShinobuV4/src/assets/img/work.jpg
Due: prettier --write, eslint --fix

speed up
  ShinobuV4/src/app/components/shinobu/shinobu-main/shinobu-main.component.ts
  ShinobuV4/src/app/components/shinobu/tabs/tabs.component.ts
  ShinobuV4/src/app/services/auth.service.ts
  ShinobuV4/src/app/services/data/firestore-storage.service.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,ts,tsx,css}) or (any of: *.json)) or (any of: *.prettierrc)
  eslint --fix: any of: *.{js,ts,tsx,css}
